<template>
    <v-container>
        <div class="about">
            <h1>{{ $t('about')}}</h1>
            <p>{{ $t('about_p')}}</p>
            <br>
            <p>{{ $t('about_p2')}}</p>
        </div>
    </v-container>
</template>

<script>
    export default {
        name: "About"
    }
</script>

<style scoped>

</style>