<template>
    <div>
        <v-navigation-drawer v-model="drawer" clipped fixed app>
            <myContentDrawer />
        </v-navigation-drawer>
        <v-toolbar class="deep-purple" clipped-left app>
            <v-toolbar-side-icon dark @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title @click="goHome" class="white--text">{{ $t("title") }}</v-toolbar-title>
        </v-toolbar>
    </div>
</template>

<script>
    import myContentDrawer from "@/components/Drawer"

    export default {
        name: 'myToolbar',
        data: function () {
            return {
                drawer: false
            }
        },
        components: {myContentDrawer},
        methods: {
            goHome () {
                this.$router.replace('/')
            },
            goAbout() {
                this.$router.replace('/about')
            }
        }
    }
</script>